.d-flex input {
  margin: 0.9em 0em;
}

.d-flex button {
  /* margin: 1.5em 0.6em;
  padding: 0.3em 2.4em; */
  margin: 0.2em 0.2em;
}

button {
  margin-top: 0.5em;
}

.d-flex table {
  margin: 1em 10em;
}

table .btnedit {
  color: lightgreen;
  cursor: pointer;
}

table .btndelete {
  color: tomato;
  cursor: pointer;
}

/* messages */
.updatemsg,
.deletemsg,
.insertmsg {
  position: absolute;
  top: -40px;
}

.movedown {
  animation: slideup 3.4s ease;
}

/* @keyframes slideup {
  50% {
    top: 0;
  }

  100% {
    top: -40px;
  }
} */

label {
  margin-top: 10px;
  margin-bottom: 0px;
}
#image-preview {
  display: none;
  max-width: 100%;
  max-height: 100%;
}

input[type="file"] {
  display: block;
  margin-bottom: 20px;
}
