* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.nav-container,
.fix-nav {
  background-color: #2a9d8f;
}

.nav-container {
  border-bottom: 1px solid #264653;
}

.icon-container svg {
  width: 3rem;
  height: 3rem;
  color: #e9c46a;
}

.nav-container,
.fix-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-nav,
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.site-nav h1 {
  font-size: 12rem;
  font-family: "Della Respira", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Tilt Prism", cursive;
  font-weight: 400;
  color: #e9c46a;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container input {
  width: 24rem;
  height: 3rem;
  font-size: 2.4rem;
  border-radius: 3%;
  font-family: "karla", sans-serif;
  font-weight: 400;
  border: none;
}

.input-container {
  position: relative;
}

.input-container svg {
  position: absolute;
  top: 0;
  right: 0;
}

.shopping-cart {
  margin-left: 1.2rem;
}

.nav-items-links {
  width: 60%;
}

.list li a,
.login-list li a {
  font-size: 2rem;
  font-family: "karla", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.list,
.login-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-items {
  height: 6rem;
}

.login-list li {
  margin-left: 2rem;
}
.fix-nav a {
  text-decoration: none;
}

.login-list li a {
  font-size: 1.6rem;
}

/*

HOME CSS

*/

/* .slider-container {
  width: 80%;
} */

/* Import Google font - Poppins */
.slider-container {
  /* margin-top: 10rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  max-width: 80%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343f4f;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
  background: #f2f2f2;
}
.wrapper i:first-child {
  left: -22px;
  display: none;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img {
  pointer-events: none;
}
.carousel img {
  height: 50rem;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child {
  margin-left: 0px;
}

/* @media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
} */

.titles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-row {
  width: 60%;
}

.title {
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid #264653;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.title h3 {
  font-family: "karla", sans-serif;
  font-size: 3rem;
  font-weight: 500;
}

.title span a {
  margin-left: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #264653;
}
.grid-1-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.item-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.item-card img {
  object-fit: cover;
  width: 70%;
  height: auto;
}
.item-card h3 {
  font-family: "karla", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.item-card p {
  font-family: "karla", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

.overlay {
  position: absolute;
  transition: 1s;
  display: none;

  background-color: red;
  transition: 1s;
}

.overlay button {
  width: 15rem;
  height: 5rem;
  top: 50%;
  left: 50%;
  border: none;
  cursor: pointer;
  font-family: "karla", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  transition: 5s;
  background-color: #e76f51;
  color: #fff;
}

.item-card:hover .overlay {

  display: block;

}

.item-card:hover {
  background-color: #f4a261;
  opacity: 0.8;
  transition: 0.8s;
  color: #fff;
}
