doctype html
// Designined by CodingLab | www.youtube.com/codinglabyt
html(lang='en', dir='ltr')
    head
        meta(charset='UTF-8')
        // <title> Responsiive Admin Dashboard | CodingLab </title>
        link(rel='stylesheet', href='/css/admin-home.css')
        // Boxicons CDN Link
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
        link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/admin-management.css')

    body
        .sidebar
            .logo-details
                i.E
                span.logo_name EManga
            ul.nav-links
                li
                    a.active(href='/admin/dashboard')
                        i.bx.bx-grid-alt
                        span.links_name Dashboard
                li
                    a(href='/admin/management')
                        i.bx.bx-box
                        span.links_name Book managment
                li
                    a(href='/admin/sale')
                        i.bx.bx-list-ul
                        span.links_name Sale list
                //- li.log_out
                //-     a(href=)
                //-         i.bx.bx-log-out
                //-         span.links_name Log out
        section.home-section
            nav
                .sidebar-button
                    i.bx.bx-menu.sidebarBtn
                    span.dashboard Dashboard
                //- .search-box
                //-   input(type='text', placeholder='Search...')
                //-   i.bx.bx-search

            .home-content
    





                .d-flex.justify-content-center
                    form(id="add-form" class="w-50" enctype="multipart/form-data")
                        h1 Add a new book
                        label(for="name") Name:
                        input#proname.form-control(type='text',name='name', autocomplete='off', placeholder='Name')
                        label(for="name") Author:
                        input#proname.form-control(type='text',name='author' ,autocomplete='off', placeholder='Author')

                        label(for="name") Tags:
                        select#countries(name='countries', multiple='')
                            for t,index in tags
                             
                                option(value=index  )=t
  

                        label(for="name") Description:
                        input#proname.form-control(type='text',name='description' ,autocomplete='off', placeholder='Description')

                        label(for="name") Artist:
                        input#proname.form-control(type='text',name='artist', autocomplete='off', placeholder='Artist')
                        label(for="name") Publisher:
                        input#proname.form-control(type='text',name='publisher', autocomplete='off', placeholder='Publisher')
                        label(for="name") Price:
                        input#proname.form-control(type='text',name='price', autocomplete='off', placeholder='Price')
                        label(for="name") Discount:
                        input#proname.form-control(type='text', name='discountRate',autocomplete='off', placeholder='DiscountRate')
                        label(for="name") Page Count:
                        input#proname.form-control(type='text',name='pageCount', autocomplete='off', placeholder='PageCount')
               
                        label(for="name") Cover:
                        <input type="file" id="file-cover" name="images"  style="display:block" multiple />
                        <img src="#" alt="Chosen file" id="image-preview">

                        label(for="name") Content:
                        <input type="file" name="images"  id="content-images" style="display:block" multiple />
       

                        button(id='btn-create' class='btn btn-success'  multiple  type="submit") Add new Book
                            .container.text-center

                


        //- .w-100.btn.btn-success.insertmsg Data Inserted Successfully...!
        //- .w-100.btn.btn-warning.updatemsg Data Updated..! Refresh Database To See Result
        //- .w-100.btn.btn-danger.deletemsg Data Deleted..!
        //- script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        //- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
        //- // Include Dexie
        //- script(src='https://unpkg.com/dexie@latest/dist/dexie.js')
        //- // Custom main file
        script(src='/js/admin.js')
        script(src='/js/create-book.js')
        script(src='https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js')
        script.
            new MultiSelectTag('countries')  // id
       