.container.mb-5.mt-5
    .card
        .row
            .col-md-12
                h3.text-center.mb-5 Nested comment section
                .row
                    .col-md-12
                        .media
                            img.mr-3.rounded-circle(alt='Bootstrap Media Preview' src='https://i.imgur.com/stD0Q19.jpg')
                            .media-body
                                .row
                                    .col-8.d-flex
                                        h5 Maria Smantha
                                        span - 2 hours ago
                                    .col-4
                                        .pull-right.reply
                                            a(href='#')
                                                span
                                                    i.fa.fa-reply
                                                    |  reply
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;It is a long established fact that a reader will be distracted by the readable content of a page.
                                .media.mt-4
                                    a.pr-3(href='#')
                                        img.rounded-circle(alt='Bootstrap Media Another Preview' src='https://i.imgur.com/xELPaag.jpg')
                                    .media-body
                                        .row
                                            .col-12.d-flex
                                                h5 Simona Disa
                                                span - 3 hours ago
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;letters, as opposed to using 'Content here, content here', making it look like readable English.
                                .media.mt-3
                                    a.pr-3(href='#')
                                        img.rounded-circle(alt='Bootstrap Media Another Preview' src='https://i.imgur.com/nAcoHRf.jpg')
                                    .media-body
                                        .row
                                            .col-12.d-flex
                                                h5 John Smith
                                                span - 4 hours ago
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;the majority have suffered alteration in some form, by injected humour, or randomised words.
                        .media.mt-4
                            img.mr-3.rounded-circle(alt='Bootstrap Media Preview' src='https://i.imgur.com/xELPaag.jpg')
                            .media-body
                                .row
                                    .col-8.d-flex
                                        h5 Shad f
                                        span - 2 hours ago
                                    .col-4
                                        .pull-right.reply
                                            a(href='#')
                                                span
                                                    i.fa.fa-reply
                                                    |  reply
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33.
                                .media.mt-4
                                    a.pr-3(href='#')
                                        img.rounded-circle(alt='Bootstrap Media Another Preview' src='https://i.imgur.com/nUNhspp.jpg')
                                    .media-body
                                        .row
                                            .col-12.d-flex
                                                h5 Andy flowe
                                                span - 5 hours ago
                                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9
